/* Font: Inconsolata */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;700&family=Indie+Flower&display=swap");

:root {
  /* sizes */
  --areaPadding: 30px;
  --areaBorderRadius: 25px;
  --internalPaddingBig: 15px;
  --internalPaddingSmall: 7px;
  --svgMargin: 20px;

  /* Elements */
  --titleBorder: 2px solid #9bf6ff;
  --areaBorder: 1px solid #000;

  /* colors */
  --mainBackground: #9bf6ff;
  --linkColor: #fffffc;
  --areaBackground: #caffbf;
}

/* General labels */
body {
  font-family: "Inconsolata", monospace;
  background-color: var(--mainBackground);
}

h1 {
  margin-top: 5px;
}

h1,
h2 {
  display: inline-block;
  text-transform: uppercase;
  width: 80%;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
  background-color: #ffadad;
  border: var(--titleBorder);
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

p {
  margin: 12px 0;
  font-weight: 400;
}

svg {
  width: 100%;
  height: 100%;
}

/* Page wrapper */
.wrapper {
  display: grid;
  box-sizing: border-box;
  padding: var(--areaPadding);
  height: 100vh;
  width: 100%;
  grid-template-areas:
    "essentials aboutMe aboutMe aboutMe aboutMe aboutMe aboutMe"
    "essentials aboutMe aboutMe aboutMe aboutMe aboutMe aboutMe"
    "languajes technologies technologies technologies experience experience experience";
  gap: var(--areaPadding);
}

/* Essentials */
.essentials {
  grid-area: essentials;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: var(--areaBorder);
  border-radius: var(--areaBorderRadius);
  background-color: #caffbf;
  box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.75);
}

.essentials .imageContainer {
  width: 100%;
  display: grid;
  place-items: center;
}

.essentials .imageContainer .profile {
  width: 50%;
  border-radius: 50%;
  margin: 20px 0;
}

.essentials .essentials-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.essentials .essentials-container .location {
  display: flex;
  align-items: center;
}

.essentials .essentials-container .location .location-icon {
  width: 30px;
  height: 30px;
  margin-right: var(--svgMargin);
}

.essentials .essentials-container .phone {
  display: flex;
  align-items: center;
}

.essentials .essentials-container .phone .phone-icon {
  width: 30px;
  height: 30px;
  margin-right: var(--svgMargin);
}

.essentials .essentials-container .github {
  display: flex;
  align-items: center;
}

.essentials .essentials-container .github .github-icon {
  width: 30px;
  height: 30px;
  margin-right: var(--svgMargin);
}

.essentials .essentials-container .email {
  display: flex;
  align-items: center;
}

.essentials .essentials-container .email .email-icon {
  width: 30px;
  height: 30px;
  margin-right: var(--svgMargin);
}

/* About me */
.aboutMe {
  grid-area: aboutMe;
  border: var(--areaBorder);
  border-radius: var(--areaBorderRadius);
  padding: var(--internalPaddingBig);
  background-color: #caffbf;
  box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.75);
}

.aboutMe main {
  display: flex;
  flex-direction: column;
}

.aboutMe h1 {
  align-self: center;
}

/* Languajes */
.languajes {
  grid-area: languajes;
  border: var(--areaBorder);
  border-radius: var(--areaBorderRadius);
  padding: var(--internalPaddingSmall);
  display: flex;
  flex-direction: column;
  background-color: #caffbf;
  box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.75);
}

.languajes h2 {
  align-self: center;
}

.languajes .languaje-entry .languaje-title {
  font-weight: 700;
}

.languajes .languaje-entry .languaje-text {
  font-weight: 400;
}

/* Technologies */
.technologies {
  grid-area: technologies;
  border: var(--areaBorder);
  border-radius: var(--areaBorderRadius);
  padding: var(--internalPaddingSmall);
  display: flex;
  flex-direction: column;
  background-color: #caffbf;
  box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.75);
}

.technologies h2 {
  align-self: center;
}

.technologies-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  place-items: center;
}

.technologies-wrapper .technology-entry .technology-icon {
  margin: 0 0 5px 0;
  width: 40px;
  height: 40px;
}

/* Skills */
.experience {
  grid-area: experience;
  border: var(--areaBorder);
  border-radius: var(--areaBorderRadius);
  padding: var(--internalPaddingSmall);
  display: flex;
  flex-direction: column;
  background-color: #caffbf;
  box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.75);
}

.experience h2 {
  align-self: center;
}
